<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Landing</servlet-name>
        <servlet-class>com.utbm.lo54.LandingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Landing</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>inscriptionForm</servlet-name>
        <servlet-class>com.utbm.lo54.SubscriptionFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inscriptionForm</servlet-name>
        <url-pattern>/inscriptionForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>inscription</servlet-name>
        <servlet-class>com.utbm.lo54.SubscriptionCommitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>landingFilterByLocation</servlet-name>
        <servlet-class>com.utbm.lo54.LandingFilterByLocation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>landingFilterByLocation</servlet-name>
        <url-pattern>/landing_filter_by_location</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>landingFilterByTitle</servlet-name>
        <servlet-class>com.utbm.lo54.LandingFilterByTitle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>landingFilterByTitle</servlet-name>
        <url-pattern>/landing_filter_by_title</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>landingFilterByDate</servlet-name>
        <servlet-class>com.utbm.lo54.LandingFilterByDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>landingFilterByDate</servlet-name>
        <url-pattern>/landing_filter_by_date</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>jersey-json-example-serlvet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.utbm.lo54.rest.server</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-json-example-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>

